/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end reset */

body {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	background-color: #f0f0f0;
	font-size: 1rem;
	box-sizing: border-box;
	overflow-y: scroll;
	overflow-x: auto;



}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}
	
	
.detail-viewer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;

}

.page-title {
	font-size: 2rem;
	margin-bottom: 1rem;
	grid-column: 1 / -1;
}

fx-database-element {
	--title-size: 1.25rem;
}

fx-database-element fx-database-element {
	--title-size: 1rem;
}


.detail-viewer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	gap: 1rem;
	width: 100%;
	padding: 1rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 500px;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.8);
	animation: pop-in 0.5s ease-in-out;
}



.detail-viewer.hidden {
	display: flex;
	animation: pop-out 0.5s ease-in-out;
	height: 0;
	overflow: hidden;
	padding: 0;
	border: none;
}

.element-detail {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: 1rem;
	border: none;
	
}

@keyframes pop-in {
	from {
		height: 0;
		opacity: 0;
	}
	to {
		height: 500px;		
		opacity: 1;
	}
	
}

@keyframes pop-out {
	from {
		height: 500px;
		opacity: 1;
	}
	to {
		height: 0;
		opacity: 0;
	}
	
}
